* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #434343 !important;
  height: 100vh;
}

/* NAV BAR */
.nav {
  width: 100%;
  height: 80px;
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo  */
#logo {
  margin-left: 20px;
  width: 260px;
  height: 60px;
  animation: moveInRight 2s ease-out;
}

.nuovo {
  display: flex;
  justify-content: flex-start;
  margin-right: 20px;
  position: relative;
}

/* search  */
.nuovo input {
  height: 50px;
  width: 200px;
  border-radius: 40px;
  padding: 10px;
  outline: none;
}

.nuovo .frame {
  height: 50px;
  width: 50px;
  border-radius: 15px;
}

.nuovo .frame {
  position: absolute;
  left: 150px;
}

.frame i {
  margin-top: 5px;
  color: aliceblue;
  font-size: 24px;
}

/* animazione logo  */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  80% {
    transform: translateX(-4px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Contenitore centrale  */
.flex {
  width: 88%;
  margin: auto;
  min-height: 200px;
  padding: 5%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.searchedSpace {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.searchedSpace h1 {
  margin-bottom: 50px;
  margin-left: 20px;
}

.boximage {
  color: black;
  position: relative;
  margin-bottom: 50px;
  animation: moveUp 2s ease-out;
}

/* animazione box image  */
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.boximage:hover {
  transform: scale(1.1);
}

i {
  color: grey;
}

.yellowstar {
  color: gold;
}

.img {
  display: block;
  border-radius: 20px;
  height: 500px;
  width: 342px;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 20px;
}

.text > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.text:hover > * {
  transform: translateY(0);
}

.text:hover {
  opacity: 1;
}

h2 {
  text-align: center;
}

.overview {
  width: 90%;
  height: 140px;
  overflow-y: scroll;
}

.search_wrap.search_wrap_3 .search_box .input {
  padding-right: 80px;
  border-radius: 50px;
}

.search_wrap.search_wrap_3 .search_box .btn {
  right: 0;
  border-radius: 50%;
}

.button > button {
  padding: 12px;
  border-radius: 50px;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  height: 50px;
  width: 120px;
  opacity: 1;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: silver 1px solid;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: white;
}

.details,
.button {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* RESPONSIVE */

@media all and (max-width: 950px) {
  .img {
    display: block;
    border-radius: 20px;
    height: 300px;
    width: 185px;
  }

  #logo {
    margin-left: 10px;
    width: 180px;
    height: 50px;
  }
}

/* OVERLAY */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.window {
  width: 40%;
  padding: 50px;
  background-color: white;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.close_window {
  font-size: 40px;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.window p {
  margin-top: 50px;
}

.hidden {
  display: none;
}

.active {
  display: block;
}
