<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Boolfix</title>
    <!-- css -->
    <link rel="stylesheet" href="css/main.css">
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
  </head>
  <body>

    <div id="app">
      <input type="text" v-model="userSearch">
      <button type="button" name="button" @click="callAPI">Search</button>


      <div v-for="(film,index) in myFilms" class="box">
        <ol>
          <li>Titolo: {{film.title}}</li>
          <li>Titolo Originale: {{film.original_title}}</li>
          <li>Lingua: {{film.original_language}}</li>
          <li>Voto: {{film.vote_average}}</li>
        </ol>
      </div>
    </div>






    <script src="js/script.js"></script>

  </body>
</html>
